// homepage image css
$mainColor: linear-gradient(90deg, #c3a2fe, #9358fd);

.image-container {
  width: 100% !important;
  margin: 0px !important;
  height: 100vh;
  padding: 6rem 0;
  display: flex !important;
  flex-flow: column !important;
  align-items: center !important;
  justify-content: center !important;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url("../../Assets/about_image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  text-align: center;
  .MuiGrid-item {
    padding: 0px;
  }
  p {
    font-size: 6.2rem;
    background: -webkit-linear-gradient(90deg, #c3a2fe, #9358fd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    font-family: "Poppins";
  }
  h5 {
    font-size: 1.6rem;
    font-weight: 300;
    font-family: "Poppins";
    color: rgb(255, 255, 255);
  }
  i {
    font-size: 0.7rem;
    font-style: normal;
    font-family: "Century Gothic";
    color: rgb(255, 255, 255);
  }
  .social-links-container {
    margin-top: 2rem;
    .speedDial-container {
      .MuiFab-root {
        background: $mainColor;
        text-transform: none;
        font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
          Arial, sans-serif;
        transition: all ease 0.25s;
      }
      .MuiFab-root:hover {
        animation: wave 0.75s ease-out;
      }
      #SpeedDialforlinks-actions {
        flex-direction: row;
        margin: 0;
        padding: 0;
      }
    }
  }
}

@keyframes wave {
  0% {
    transform: scale(1.05);
    box-shadow: 0 0 0 0px rgba(195, 162, 254, 0.7);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 8px rgba(76, 175, 80, 0);
  }
}
@media (max-width: 768px) {
  .image-container {
    padding: 4rem 0;
    .image-box {
      width: 12rem;
      height: 12rem;
    }
    p {
      font-size: 3.4rem;
    }
  }
}
