.header-container .MuiAppBar-root {
  background: linear-gradient(90deg, #83eaf1, #63a4ff);
  box-shadow: none;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: rgb(238, 228, 228);
}
.header-container .header-link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  margin: 10px;
  color: rgb(37, 37, 37);
  font-family: "Harrington";
  font-weight: bold;
}
.header-container .header-link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(37, 37, 37);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.header-container .header-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.header-container .header-link.active {
  color: rgb(219, 43, 43);
  font-weight: bold;
}
.header-container .header-link.active:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(219, 43, 43);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.header-container .header-link.active:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.header-container .name-symbol {
  color: rgb(0, 107, 157);
  cursor: pointer;
  font-family: "Mangal";
  margin-left: 5%;
  border: 2px solid red;
  padding: 0px 8px;
  font-weight: bold;
}
.header-container .name-symbol:hover {
  -webkit-animation: flick 2s 1;
          animation: flick 2s 1;
}
.header-container .nav-item-container {
  margin: auto;
}
.header-container .sidebar-toggler-button {
  color: rgb(37, 37, 37);
}

.drawer-container .MuiPaper-root {
  background-color: linear-gradient(90deg, #83eaf1, #63a4ff);
}
.drawer-container .name-symbol {
  color: rgb(0, 107, 157);
  font-family: "Mangal";
  margin-left: 5%;
  border: 2px solid red;
  padding: 0px 8px;
  font-weight: bold;
  width: 32px;
  margin: 10px auto;
}
.drawer-container .name-symbol:hover {
  -webkit-animation: flick 2s 1;
          animation: flick 2s 1;
}
.drawer-container .header-link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  margin: 10px;
  color: rgb(37, 37, 37);
  font-family: "Harrington";
  font-weight: bold;
}
.drawer-container .header-link:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(37, 37, 37);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.drawer-container .header-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.drawer-container .header-link.active {
  color: rgb(219, 43, 43);
  font-weight: bold;
}
.drawer-container .header-link.active:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(219, 43, 43);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.drawer-container .header-link.active:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@-webkit-keyframes flick {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes flick {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=Header.css.map */